# Tensorflow requirements
tf-nightly-gpu-2.0-preview
tb-nightly
tensorflow_datasets
packaging

# localhost deployment
channels==1.1.8
django==1.11.21
asgiref==1.1.2
asgi-redis==1.4.3

# Heroku deployment
django-heroku
dj-database-url==0.4.2
gunicorn==19.7.1
psycopg2==2.7.3.2
pytz==2017.3
whitenoise==3.3.1
